p {
    position: absolute;
    top: 0;
    margin: 1rem;
    margin-top: 4rem;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1rem;
}

#movies{
    margin-left: 4rem;
    border: 0.5px solid white;
    border-radius: 10%;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
}

#shows {
    margin-left: 12rem;
    border: 0.5px solid white;
    border-radius: 10%;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
}

#categories {
    margin-left: 20rem;
    border: 0.5px solid white;
    border-radius: 10%;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
}