.videos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 2rem;
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
    margin-top: 20vh;
}

.allVids {
    height: 27rem;
    width: 100%;
    object-fit: cover;
}