body {
  background-color: black;
  /* overflow: hidden; */
}

::-webkit-scrollbar {
  display: none;
}

/* h1 {
  color: red;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 4rem;
}

 div{
  color: white;
 } */