.flexImage {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* flex-wrap: wrap;
    justify-content: space-between; */
    margin: 2rem;
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
    /* object-fit: contain; */
}

#first{
    width: 30rem;
    margin: auto;
    display: block;
    margin-bottom: 4rem;
}

#all {
    /* width: 15rem; */
    /* margin-left: 1rem; */
    /* margin-bottom: 2.5rem; */
    /* height: 30vh; */
    height: 25rem;
    width: 100%;
    object-fit: cover;
}

.searching-videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#info-pg-poster {
    /* width: 30rem;
    margin: auto;
    display: block;
    margin-top: 15vh; */
    width: 50vw;
    height: 100vh;
    /* margin-top: 4rem; */
    /* object-fit: cover; */
    margin-left: 50%;
    position: fixed;
}

#info-body {
    position: absolute;
    top: 30vh;
    margin-left: 10rem;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.3rem;
}

#description {
    width: 50%;
    /* background-color: rgb(240, 248, 255, 0.1); */
    /* box-shadow: inset 25px 15px 15px 15px rgb(255, 255, 255, 0.1); */
}
