.flexImage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3rem;
}

#first{
    width: 30rem;
    margin: auto;
    display: block;
    margin-bottom: 4rem;
}

#all {
    width: 15rem;
    margin-left: 1rem;
    margin-bottom: 2.5rem;
    height: 22rem;
}
