.flexImage {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* flex-wrap: wrap;
    justify-content: space-between; */
    margin: 2rem;
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

#first{
    width: 30rem;
    margin: auto;
    display: block;
    margin-bottom: 4rem;
}

#all {
    /* width: 15rem; */
    /* margin-left: 1rem; */
    /* margin-bottom: 2.5rem; */
    /* height: 30vh; */
    height: 27rem;
    width: 100%;
    object-fit: cover;
}
