#userIcon {
    color: white;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    margin-top: 4rem;
    /* size: 4rem; */
}

.settingDiv {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 20vh;
    margin-left: 10rem;
    font-family: 'Bebas Neue', sans-serif;
    row-gap: 1rem;
}

.info {
    font-size: 2rem;
    /* text-align: center; */
    margin: 0;
}

.watched {
    color: red;
    cursor: pointer;
    width: 10rem;
}

#logout {
    width: 19%;
    height: 2.3rem;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.7rem;
    /* align-self: center; */
    color: white;
    background-color: rgb(225, 10, 10);
    border: 2px solid white;
    box-shadow: 5px 4px 5px white;
    border-radius: 10px;
    cursor: pointer;
}

/* .watched:hover {
    border-bottom: 1px solid red;
    width: 10rem;
} */

#minion {
    width: 30rem;
    display: block;
    margin-top: -45vh;
    margin-left: 40vw;
}

.watchedvidsdiv {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 2rem;
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
    margin-top: 20vh;
}

.watchedvids {
    height: 27rem;
    width: 100%;
    object-fit: contain;
}